.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
 
  .brand-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 1px;
  }

  .brand-list button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  
  .cart {
    margin-left: 20px;
  }